<!-- HTML Customised from Allauth existing template here 
    https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/signup.html -->

{% extends "includes/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}Login{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="message-wrap">
    <div class="message">
        <span>{{message}}</span><i class="fas fa-times" onclick="removeMessage(this);"></i>
    </div>
</div>
{% endfor %}
{% endif %}

<section class="screen-height d-flex">
  <div class="container-fluid m-auto p-0">
    <div class="row w-100 m-0">
      <div class="d-flex justify-content-center p-0">
        <div class="register-login-card card muted m-2 col-lg-6 fade-in">
          <h1 class="text-center">Welcome back! <br> Login below.</h1>

          <form class="account-form login py-4" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="fixed-60 w-100 d-flex">
              <button class="btn primary-btn large center-half-btn-cta m-auto" type="submit">Sign In</button>
            </div>
          </form>
          <p class="text-center small-text"><a href="{% url 'account_reset_password' %}">Forgot Password</a> | <a
              href="{{ signup_url }}">Create Account</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}