<!-- Create event modal START -->
<div class="modal fade" id="edit_event_{{event.pk}}" tabindex="-1" role="dialog" aria-labelledby="create_event"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card event-limit muted m-0">
                    <h3 class="header-underline">Edit this Event</h3>
                    <p class="text-center w-75 m-auto">As this event has been published, you are unable to edit the time or industry for this event.</p>
                    <form action="{% url 'edit_event' %}" method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                        <input type="hidden" value="{{event.pk}}" name="event_id">
                        <div class="input-row d-flex justify-content-between mt-3">
                            <div class="fieldset">
                                <label for="title_{{event.pk}}_ed" class="mb-3">Event Title</label>
                                <input type="text" class="fixed-40" name="title" id="title_{{event.pk}}_ed" placeholder="Enter a title"
                                    required value="{{event.title}}">
                            </div>
                        </div>
                        <div class="input-row d-flex justify-content-between mt-3">
                            <div class="fieldset">
                                <label for="description_{{event.pk}}_ed" class="mb-3">Description</label>
                                <textarea id="description_{{event.pk}}_ed" class="no-padding-on-focus" name="description"
                                    onfocus="resizeTextarea(this);" oninput="resizeTextarea(this);"
                                    placeholder="Tell others what the event is about.">{{event.description}}</textarea>
                            </div>
                        </div>
                        <div class="input-row d-flex justify-content-between mt-3">
                            <div class="fieldset">
                                <label for="max_reg_{{event.pk}}_ed" class="mb-3">Maximum Registrants</label>
                                <input class="form-control fixed-40" name="max_reg" id="max_reg_{{event.pk}}_ed"
                                    placeholder="Enter the maximum registrations" pattern="[0-9]+" type="text" required
                                    value="{{event.max_reg}}" />
                            </div>
                            <div class="fieldset">
                                <label for="location_{{event.pk}}_ed" class="mb-3">Location</label>
                                <input class="form-control fixed-40" name="location" id="location_{{event.pk}}_ed"
                                    placeholder="Enter a location" type="text" required value="{{event.location}}" />
                            </div>
                        </div>
                        <div class="input-row d-flex justify-content-between mt-3">
                            <div class="fieldset">
                                <label for="start_datetime_{{event.pk}}_ed" class="mb-3">Start Date & Time</label>
                                <input class="form-control fixed-40" id="start_datetime_{{event.pk}}_ed" disabled type="text"
                                    value="{{event.start_datetime}}" />
                            </div>
                            <div class="fieldset">
                                <label for="end_datetime_{{event.pk}}_ed" class="mb-3">End Date & Time</label>
                                <input class="form-control fixed-40" id="end_datetime_{{event.pk}}_ed" type="text" disabled
                                    value="{{event.end_datetime}}" />
                            </div>
                        </div>
                        <div class="input-row d-flex justify-content-between mt-3">
                            <div class="fieldset">
                                <label for="industry_{{event.pk}}_ed" class="mb-3">Industry</label>
                                <select class="form-select" aria-label="Industry" name="industry" id="industry_{{event.pk}}_ed" disabled
                                    value="{{event.industry}}">
                                    <option value="{{event.industry}}" selected>{{event.industry}}</option>
                                </select>
                            </div>
                            <div class="fieldset">
                                <label for="timezone_{{event.pk}}_ed" class="mb-3">Timezone</label>
                                <select class="form-select" name="timezone" id="timezone_{{event.pk}}_ed" aria-label="timezone" disabled
                                    value="{{event.timezone}}">
                                    <option value="{{event.timezone}}" selected>{{event.timezone}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="input-row d-flex justify-content-between mt-3">
                            <div class="fieldset">
                                <label for="header_image_{{event.pk}}_ed" class="mb-3">Header Image</label>
                                <input class="custom-file-input" type="file" accept="image/*" id="header_image_{{event.pk}}_ed"
                                    name="header_image" value="{{event.header_image}}">
                                <p>Current file: <span class="p-text-underline">{{event.header_image}}</span></p>
                            </div>
                        </div>
                        <div class="event-card-buttons d-flex mt-3">
                            <button type="submit" class="btn secondary-btn large m-auto py-2 px-4 mb-2">
                                Update Event</button>
                        </div>
                    </form>
                    <form action="{% url 'delete_event' %}" method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                        <input type="hidden" value="{{event.pk}}" name="event_id">
                        <div class="event-card-buttons d-flex">
                            <button type="submit" class="btn primary-btn-outline-color large m-auto py-2 px-4 mb-2">
                                <i class="fas fa-trash"></i>
                                Delete Event</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Create event modal END -->