{% extends 'includes/base.html' %}
{% load static %}

{% block head_title %}Home{% endblock %}

{% block post_CSS %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<section id="landing_pg_top" class="section-with-padding">
    <div class="container landing-pg-header">
        <div class="row flex-sm-column flex-md-row  my-5">
            <div class="col-lg-7 col-md-7 col-sm-12 d-flex">
                <div class="homepage-header fade-in">
                    <h1 class="pb-5">Find Freelance Meetups in Your Industry</h1>
                    <a href="{% url 'account_signup' %}" class="btn primary-btn large-cta">Create your Free Account</a>
                    <a href="{% url 'account_login' %}" class="btn large-cta primary-btn-outline text-white">Login to your
                        account</a>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 d-flex flex-column mt-lg-5">
                <div class="homepage-graphic">
                    <div class="event-section ">
                        <div class="card event-card no-hover p-0">
                            <div class="event-header-image">
                                <div class="dummy-image">
                                    <i class="fas fa-camera"></i>
                                </div>
                                <div class="event-header-pills">
                                    <span class="event-ind-pill">Photography</span>
                                    <span class="event-loc-pill">Virtual</span>
                                </div>
                            </div>
                            <div class="card-content p-4 ">
                                <div class="dummy-text-homepage-card large long"> </div>
                                <div class="dummy-text-homepage-card two-thirds"> </div>
                                <div class="dummy-text-homepage-card"> </div>
                                <div class="d-flex justify-content-between flex-wrap">
                                    <div class="btn secondary-btn btn-example-disabled my-sm-10">Join Event</div>
                                    <div class="btn secondary-btn btn-example-disabled my-sm-10 ">View Guestlist</div>
                                </div>
                            </div>
                        </div>
                        <div class="homepage-event-attendees align-right">
                            <div class="event-attendee-example-img "><img
                                    src="{% static 'images/homepage_event_attendees/att1.jpg' %}" alt=""></div>
                            <div class="event-attendee-example-img"><img
                                    src="{% static 'images/homepage_event_attendees/att2.jpg' %}" alt=""></div>
                            <div class="event-attendee-example-img"><img
                                    src="{% static 'images/homepage_event_attendees/att3.jpg' %}" alt=""></div>
                        </div>
                    </div>
                    <div class="event-section">
                        <div class="card event-card no-hover p-0">
                            <div class="event-header-image">
                                <div class="dummy-image">
                                    <img src="{% static 'images/homepage_event_headers/london.jpg' %}" alt="">
                                </div>
                                <div class="event-header-pills">
                                    <span class="event-ind-pill">Event Industry</span>
                                    <span class="event-loc-pill">London, UK</span>
                                </div>
                            </div>
                            <div class="card-content p-4 ">
                                <div class="dummy-text-homepage-card large long"> </div>
                                <div class="dummy-text-homepage-card"> </div>
                                <div class="dummy-text-homepage-card two-thirds"> </div>
                                <div class="d-flex justify-content-between flex-wrap">
                                    <div class="btn secondary-btn btn-example-disabled mb-10">Join Event</div>
                                    <div class="btn secondary-btn btn-example-disabled mb-10">View Guestlist</div>
                                </div>
                            </div>
                        </div>
                        <div class="homepage-event-attendees justify-content-end">
                            <div class="event-attendee-example-img"><img
                                    src="{% static 'images/homepage_event_attendees/att4.jpg' %}" alt=""></div>
                            <div class="event-attendee-example-img"><img
                                    src="{% static 'images/homepage_event_attendees/att2.jpg' %}" alt=""></div>
                            <div class="event-attendee-example-img"><img
                                    src="{% static 'images/homepage_event_attendees/att3.jpg' %}" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="landing_pg_bottom" class="section-with-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 homepage-packages-section">
                <h2 class="header-underline-after">Select Your Membership Type</h2>
                <p class="m-auto w-lg-50 large">Find and join Freelance Meetups in your industry with a subscription that suits your needs.</p>
                <div class="homepage-package-cards d-flex flex-wrap justify-content-between">
                    <!-- Free Package -->
                    <div class="card package-card p-5">
                        <h3>Free Account</h3>
                        <i class="fas fa-social"></i>
                        <p class="package-cost"><span>£</span>0</p>
                        <span class="small-text">per month</span>
                        <hr>
                        <ul class="package-feature-list homepage">
                            <li><i class="fas fa-check"></i>
                                <span>Connect with unlimited Freelancers in your industry</span>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <span>Register for 1 free event a month</span>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <span>Community news & updates via monthly newsletter</span>
                            </li>
                        </ul>
                        <a href="{%url 'packages'%}" class="package-cta btn primary-btn-outline-color px-3 py-2">Select This Package</a>
                    </div>

                    <!-- Everyday Package -->
                    <div class="card package-card p-5 featured">
                        <h3>Everyday Account</h3>
                        <i class="fas fa-social"></i>
                        <p class="package-cost"><span>£</span>9.99</p>
                        <span class="small-text">per month</span>
                        <hr>
                        <ul class="package-feature-list homepage">
                            <li><i class="fas fa-check"></i>
                                <span>All free tier features</span>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <span>View and connect with Freelancers in other industries</span>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <span>Register for 5 free events a month</span>
                            </li>
                        </ul>
                        <a href="{%url 'packages'%}" class="package-cta btn primary-btn py-4 w-100">Select This Package</a>
                    </div>

                    <!-- Pro Package -->
                    <div class="card package-card p-5">
                        <h3>Pro Account</h3>
                        <i class="fas fa-social"></i>
                        <p class="package-cost"><span>£</span>14.99</p>
                        <span class="small-text">per month</span>
                        <hr>
                        <ul class="package-feature-list homepage">
                            <li><i class="fas fa-check"></i>
                                <span>All Everyday tier features</span>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <span>Register for 10 free events a month</span>
                            </li>
                        </ul>
                        <a href="{%url 'packages'%}" class="package-cta btn primary-btn-outline-color px-3 py-2">Select This Package</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}