{% extends 'includes/base.html' %}
{% load static %}
{% load friendshiptags %}

{% block head_title %}Privacy{% endblock %}

{% block post_CSS %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<section class="light-page screen-height section-with-padding">
    <div class="nav-top-padding"></div>
    <div class="container-fluid w-100 m-auto py-5 px-0 centered-col-large-page">
        <h1 class="header-underline-after">Your Privacy</h1>
        <div class="py-5">
            <div class="card muted">
                <h3>Your Information</h3>
                <p>When you sign up for an account at FreelanceMeetups, we collect your personal information only that
                    is necessary to identify you as a certain demographic, such as <strong>Name, Location, Industry,
                        Role</strong>. We do this to allow you and other users to discover other users which have
                    similar priorities and interests in meetups etc.</p><br>
                <p class="mb-3">We collect your email address to allow us to contact you for account related
                    information, and allow
                    other users that you have connected to, to send you a message through the platform. Your email is
                    not visible to other users when they send you a message, and will only be visible to them if you
                    choose to respond to their email directly.</p>
                <h3 class="py-2">Cookies & Session Tracking</h3>
                <p>Currently, we do not use any form of analytics or tracking data in order to deliver the services on
                    this site. There are however a few Cookies present that are essential to run the website.</p><br>
                <p>The Cookies that are present do not identify you as a user, but simply register your browser use with
                    Stripe, our third party payment provider, as well as add security tokens to a session.</p><br>
                <p>In addition to those cookies, when you login to the site, a browser 'session' is created. This allows
                    us to store minimal information in the browser when you use the site, that ensures we can access
                    this information across multiple pages. An example of this would be your package selection - when
                    you select an option, we store this in the session enabling us to carry this over into the remainder
                    of the checkout pages. This session data is removed once the browser is closed and the session ends.</p>
            </div>
        </div>
    </div>
    <div class="fixed-40"></div>
</section>

{{ free_account|json_script:"free_account" }}
{{ this_user.industry|json_script:"user_ind" }}
{{ industries|json_script:"all_inds" }}
<script src="{% static 'users/js/options_multiselect.js' %}" type="text/javascript"></script>
<script src="{% static 'users/js/users.js' %}" type="text/javascript"></script>


{% endblock %}