/* Homepage Top Page Elements */

#landing_pg_top {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.landing-pg-header {
    margin: auto;
}

.homepage-header {
    margin: auto;
    margin-right: 100px;
    animation: fade-up 0.7s;
    padding: 100px 0px;
}

.homepage-header a:nth-child(2) { 
    animation-delay: 1s;
    margin-right: 20px;
    margin-bottom: 20px;
}

.homepage-header a:nth-child(3) { 
    animation-delay: 1.5s;
    margin-bottom: 20px;
}

.homepage-header h1 {
    font-weight: 600;
    color: #fff;
    font-size: 3.75rem;
    
}

.homepage-graphic {
    position: relative;
    max-height: 700px;
}

/* Event Card */
.event-section {
    max-width: 350px;
    position: relative;
    z-index: 1;
}

.event-section:nth-of-type(2){
    margin: auto;
    margin-right: 0px;
    transform: translateY(-50px);
    z-index: 0;
}

.event-card {
    max-width: 300px;
}


.event-header-image {
    width: 100%;
    height: 130px;
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    display: flex;
}
.event-header-image img {
    width: 100%;
    height: auto;
    transform: translateY(-20%);
}

.event-header-image .dummy-image {
    width: 100%;
    height: 100%;
    background: var(--accent-color-grad);
    color: var(--accent-color);
    position: absolute;
    z-index: 1;
}

.dummy-image i {
    filter: brightness(85%);
    position: absolute;
    right: -20px;
    font-size: 200px;
    transform: rotate(10deg);
}

.event-header-pills {
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    margin: auto;
    margin-bottom: 10px;
    margin-left: 10px;
}

.event-header-pills span{
    padding: 2px 7px;
    border-radius: 30px;
    box-shadow: 1px 1px 8px -3px var(--dark-shadow);
    position: relative;
    z-index: 9;
    font-size: 12px;
    font-weight: 200;
}

.event-ind-pill {
    background: var(--accent-color);
    color: var(--dark-text);
    margin-right: 5px;
}

.event-loc-pill {
    background: var(--primary-color-sub);
    color: #fff;
}

.dummy-text-homepage-card {
    background: var(--light-line);
    width: 33%;
    height: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.dummy-text-homepage-card:last-of-type {
    margin-bottom: 0px;
}

.dummy-text-homepage-card.large.long {
    width: 100%;
    height: 20px;
}

.dummy-text-homepage-card.two-thirds {
    width: 66%;
}

.btn-example-disabled {
    background: var(--primary-color-grad);
}


/* Example attendees */
.homepage-event-attendees {
    display: flex;
    transform: translateY(-25px);
    width: 100%;
    position: absolute;
}

.homepage-event-attendees.align-right {
    flex-direction: column;
    right: 0;
    top: 0;
    justify-content: flex-end;
    z-index: 9;
    width: max-content;
}

.event-attendee-example-img {
    width: 80px;
    height: 80px;
    background: var(--accent-color-grad);
    border-radius: 50px;
    overflow: hidden;
    border: 4px solid var(--primary-color-sub);
    box-shadow: 1px 2px 15px -2px var(--dark-shadow);
    margin-right: 10px;
    margin-bottom: 10px;
}

.event-attendee-example-img img {
    height: 100%;
    height: 100%;
    transform: translateX(-20%);
}

@media (max-width: 767.98px) {
    .homepage-header { 
        text-align: center;
        padding: 50px 0px;
    }

    .homepage-header h1 { 
        font-size: 3.25rem;
    }

    .homepage-header a {
        padding: 10px 20px;
        margin: 0px auto;
        margin-right: auto!important;
        margin-bottom: 20px;
    }

    .homepage-event-attendees.align-right {
        right: -40px;
    }
}



/* Homepage Lower Page Elements */
#landing_pg_bottom {
    min-height: 100vh;
    background: rgb(10,102,194);
    background: var(--neutral-light-grad);
    display: flex;
    flex-direction: column;
    box-shadow: -1px 1px 20px -2px var(--dark-shadow);
}

.homepage-packages-section {
    padding: 75px 0px;
    text-align: center;
}

.homepage-packages-section h2 {
    font-size: 3.25rem;
    padding-bottom: 30px;
    position: relative;
    width: max-content;
    max-width: 100%;
    margin: auto;
    z-index: 1;
}

.homepage-packages-section h2::after {
    position: absolute;
    content: '';
    border-bottom: 14px solid var(--accent-color-light);
    display: block;
    bottom: 32px;
    left: 0;
    z-index: -1;
    width: -webkit-fill-available;
    max-width: 100vw;
}

.homepage-package-cards  {
    margin: 70px auto;
    width: 80%;
}

.package-card {
    width: 32%;
    max-width: 32%;
}

.package-card.featured {
    margin: -20px 0px;
}

.package-cost {
    font-size: 40px;
}

.package-cost span{
    font-size: 12px;
}

.package-feature-list.homepage {
    padding: 20px 0px;
    text-align: left;
}

.package-feature-list.homepage li {
    display: flex;
    margin-bottom: 15px;
    color: var(--light-text);
    font-weight: 200;
}

.package-feature-list.homepage li i{
    margin-right: 10px;
    margin-top: 5px;
    color: var(--primary-color);
}

.package-cta {
    margin: auto;
    margin-bottom: 0px;
}


/* MEDIA QUERIES */
@media (max-width: 576.98px) { 
    .homepage-header h1 {
        font-size: 2.75rem;
        margin-top: 20px;
    }

    .homepage-packages-section {
        padding: 50px 0px;
        text-align: center;
    }

    .homepage-packages-section h2 {
        font-size: 2rem;
    }
}

@media (max-width: 991.98px) { 
    .event-section:nth-of-type(2){
        display: none;
    }

    .homepage-graphic {
        margin: auto;
    }

    .homepage-header {
        margin-right: 0px;
    }

    .package-card,
    .package-card.featured {
        width: 100%;
        max-width: 450px;
        margin: 20px auto;
    }

    .homepage-package-cards {
        margin: 50px auto;
        width: 100%;
    }
}
