{% extends 'includes/base.html' %}
{% load static %}

{% block post_CSS %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block head_title %}Confirm Order{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="message-wrap">
    <div class="message">
        <span>{{message}}</span><i class="fas fa-times" onclick="removeMessage(this);"></i>
    </div>
</div>
{% endfor %}
{% endif %}

<section class="light-page screen-height section-with-padding">
    <div class="nav-top-padding"></div>
    <div class="container-fluid m-auto py-5 px-0 centered-col-large-page">
        <h1 class="header-underline-after">
            {%if upgrade %}
            Amend Your Account
            {% else %}
            Order Summary
            {% endif %}</h1>
    </div>
    <div class="m-auto mb-3 card muted z-2 centered-col-large-page order-confirmation">
        <div class="processing-spinner">
            <span class="spinner"></span>
        </div>
        {% if needs_dpm and package_selected.tier != 1 %}
        <form id="payment_method_form" action="{% url 'summary' %}" method="POST">
            {% else %}
        <form id="payment_form" method="POST"> 
            {% endif %}
            {% csrf_token %}
            <input type="hidden" id="is_upgrade" value="{{upgrade}}">
            <div class="row">
                <div class="container-fluid col-12 col-md-6">
                    <h3 class="card-section-header mb-3">
                        {% if upgrade == False %}
                        Complete Your Payment
                        {% else %}
                        Confirm Your Update
                        {% endif %}
                    </h3>
                    <!-- Payment form -->
                    {% if upgrade == False %}
                    <fieldset class="mt-5">
                        <div class="input-row d-flex justify-content-between">
                            <div class="fieldset">
                                <label for="first_name">First Name</label>
                                <input type="text" id="first_name" name="first_name" value="{{this_user.first_name}}"
                                    min-length="2" max-length="50" required>
                            </div>

                            <div class="fieldset">
                                <label for="last_name">Last Name</label>
                                <input type="text" id="last_name" name="last_name" value="{{this_user.last_name}}"
                                    min-length="2" max-length="50" required>
                            </div>
                        </div>
                        <div class="input-row d-flex justify-content-between">
                            <div class="fieldset">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" value="{{this_user.email}}" required>
                            </div>
                        </div>

                        <div class="fieldset">
                            <label for="card_element">Card Details</label>
                            <div class="stripe-cc-input" id="card_element"></div>
                            <div id="card_errors"></div>
                        </div>
                    </fieldset>
                    <label id="payment_disclaimer">Your card details are processed and stored as the default payment
                        method within our third party payment provider <a href="https://stripe.com"
                            target="_blank">Stripe</a>, who will attempt to charge this card on a monthly basis until
                        you cancel.<br><br>Our site does not store these details, and we do not have access
                        to them through the Stripe interface.</label>
                    {% elif upgrade == True and needs_dpm == False or package_selected.tier == 1 %}
                    <p class="pt-5">Looking to amend your account? No problem!<br><br>
                        {% if package_selected.tier != 1 %}
                        Since we've already processed your previous months payment, your new subscription option will
                        begin from
                        <span class="p-text-underline"><strong>
                                {{next_period_start}}</strong></span> when this period expires.
                        <br><br>You can continue to use the existing features of your current subscription until this
                        date.
                        <br><br>Your previous card will be used as the default method: <br>
                        <br>
                        
                        Type: <strong>{{customer_pm_details.brand|upper}}</strong>
                        <br>
                        Ending: <strong>**********{{customer_pm_details.last4}}</strong>
                        <br>
                        Expiring: <strong>{{customer_pm_details.exp_m}} / {{customer_pm_details.exp_y}}</strong>
                        
                        {% else %}
                        
                        Since we've already processed this months payment, your downgrade will commence the end of this
                        billing period on
                        <span class="p-text-underline"><strong>
                                {{current_period_end}}</strong></span> when this period expires.
                        <br><br>You can continue to use the existing features of your current subscription until this
                        date.
                        {% endif %}
                    </p>

                    {% else %}
                    <p class="pt-5">It looks like we don't have a default payment method for you. Please add one below, allowing us to process your next invoice!<br><br>
                        <input type="hidden" id="needs_dpm" value="{{needs_dpm}}">
                        <div class="input-row d-flex justify-content-between">
                            <div class="fieldset">
                                <label for="first_name">First Name</label>
                                <input type="text" id="first_name" name="first_name"
                                    value="{{this_user.first_name|default:''}}"
                                    placeholder="Enter your name" required>
                            </div>
                            <div class="fieldset">
                                <label for="last_name">Last Name</label>
                                <input type="text" id="last_name" name="last_name"
                                    value="{{this_user.last_name|default:''}}"
                                    placeholder="Enter your surname" required>
                            </div>
                        </div>
                        <div class="input-row d-flex justify-content-between">
                            <div class="fieldset">
                                <label for="card_element_update">Card Details</label>
                                <div class="stripe-cc-input" id="card_element_update"></div>
                                <div id="card_errors"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <span class="vert-rule d-none d-md-flex col-1"></span>
                <hr class="d-md-none my-4">
                <div class="container-fluid col-12 col-md-4">
                    <h3 class="card-section-header mb-3">Order Summary</h3>

                    <!-- Package card -->
                    <div class="order-details-summary card muted">
                        <span class="d-flex justify-content-between">
                            <p>{{package_selected.name}}</p>
                            <p>£{{package_selected.price}} <label class="fs-9"> monthly</label> </p>
                        </span>
                        <ul class="order-details-features">
                            {% if package_selected.tier == 1 %}
                            <li><i class="fas fa-check"></i>
                                <span>Connect with unlimited Freelancers in your industry</span>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <span>Register for 1 free event a month</span>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <span>Community news & updates via monthly newsletter</span>
                            </li>
                            {% elif package_selected.tier is 2 %}
                            <li><i class="fas fa-check"></i>
                                <span>All free tier features</span>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <span>View and connect with Freelancers in other industries</span>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <span>Register for 5 free events a month</span>
                            </li>
                            {% elif package_selected.tier is 3 %}
                            <li><i class="fas fa-check"></i>
                                <span>All Everyday tier features</span>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <span>Register for 10 free events a month</span>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <span>Add your own FreelanceMeetups</span>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if package_selected.tier != 1 %}
                    <hr class="my-4">
                    <span class="d-flex justify-content-between">
                        <label>Subtotal</label>
                        <p>£{{package_selected.price}}</p>
                    </span>
                    <span class="d-flex justify-content-between total-due">
                        <p>Total due {% if upgrade == True %}{{next_period_start}}{% else %}today{% endif %}</p>
                        <p>£{{package_selected.price}}</p>
                    </span>
                    <label class="w-100 text-end">billed monthly</label>
                    {% endif %}
                    <hr class="my-4">
                    <button type="submit" id="submit_button" class="btn primary-btn large w-100 py-3">Confirm
                        Subscription</button>
                </div>
            </div>
        </form>
    </div>


    </div>
</section>

{% endblock %}


{% block post_JS %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ stripe_client_secret|json_script:"id_stripe_client_secret" }}
<script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}