/**
*** All users page general
**/

/* Event Card */
.event-card {
    padding: 20px;
    margin: 10px;
    flex: 1 0 31%;
    min-width: 300px;
    max-width: 460px;
}

.event-header-img {
    height: 200px;
    min-height: 100px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    margin: -20px;
    margin-bottom: 20px;
    position: relative;
    background: #000;
}

.event-header-img > img.landscape-img {
    height: auto!important;
    width: 100%!important;
}

.card-title-overlay {
    position: absolute;
    background: linear-gradient(360deg, #313131, transparent);
    width: 100%;
    z-index: 1;
    height: 100%;
    bottom: 0;
    right: 0;
}

.event-header-img .event-card-title {
    position: absolute;
    bottom: 20px;
    padding: 0px 20px;
    color: #fff;
    z-index: 2;
}

.event-card-title::after {
    content: "";
    position: absolute;
    border: 3px solid var(--primary-color);
    width: 75%;
    bottom: -6px;
    left: 20px;
    z-index: -1;
}

.event-details-mast {
    padding-left: 20px;
    height: max-content;
    margin: auto;   
    min-width: 65%;
}

.event-details-bottom > .event-skills {
    display: flex;
    flex-wrap: wrap;
}

.event-details-bottom > .event-skills span{
    padding: 7px 10px;
    font-size: 14px;
    line-height: initial;
}

.event-card-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event-card-buttons button {
    width: 47%;
    min-width: max-content;
}

.event-card-buttons button i{
    margin-right: 5px;
}

.event-card-buttons > .view-attendees-btn {
    background: var(--bg-grad-color);
    color: var(--dark-text);
}

.event-card-buttons > .remove-reg-btn {
    background: var(--primary-color-grad);
    border: 2px solid transparent;
    color: #fff;
}

.event-card-buttons > .remove-reg-btn:hover {
    background: transparent;
    color: var(--primary-dark);
    border: 2px solid var(--primary-color);
}

.event-card-buttons > .register-btn {
    background: transparent;
    color: var(--primary-dark);
    border: 2px solid var(--primary-color);
}

.event-card-buttons > .register-btn:hover {
    background: var(--accent-color);
    color: var(--dark-text);
    border-color: var(--accent-color);
}

.create-event-btn {
    background: var(--accent-color-grad);
    color: var(--dark-text);
    width: 100%;
    padding: 20px 40px;
    font-size: 18px;
}


/* Attendee list modal */
.pending-requests-to-me {
    display: flex;
    flex-direction: column;
}

.attendee-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--light-line);
} 

.attendee-item:last-of-type {
    border-bottom: none;
} 

.attendee-item > div {
    max-width: 100%;
} 

.attendee-item > div > .new-req-details {
    margin: auto ;
    padding: 5px 10px;
    display: flex;
    max-width: 100%;
    min-width: 80%;
}

.new-req-details p:first-of-type {
    font-weight: 500;
    font-size: 16px;
}

.new-req-details p:nth-of-type(2) {
    font-weight: 200;
    font-size: 14px;
}

.attendee-item > .action-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    min-width: max-content;
}

.action-btns .attendee-action-btn {
    margin: auto 5px;
    height: 40px;
    width: 40px;
    position: relative;
}

.attendee-action-btn:hover {
    color: inherit!important;
    z-index: 99;
}

.attendee-action-btn:hover .tooltip-top {
    animation: fade-in 0.3s ease-in-out;
    display: flex;
    z-index: 99;
}

.attendee-action-btn.view-conn-btn {
    background: var(--bg-grad-color);
    color: var(--dark-text);
}

.attendee-action-btn.decline-conn-btn {
    background: var(--primary-color-grad);
}

.attendee-action-btn.accept-conn-btn {
    background: var(--accent-color-grad);
    color: var(--dark-text);
}


.modal.event-view > .modal-dialog {
    height: 100%;
    margin: 0px auto;
}

.modal-dialog > .modal-content {
    height: max-content;
    margin: auto;
}

.modal-body > .event-card {
    max-width: 100%!important;
}

.modal-body > span > i {
    margin-left: auto;
    cursor: pointer;
}

.modal-footer button {
    flex: 1 1 48%;
}

.page-results {
    display: flex;
    justify-content: center;
    margin: 0px -10px;
}


/* Searchbar */
.search-box-card {
    padding: 20px;
    z-index: 2;
}

#industry_search > div {
    max-width: 100%;
}

#industry_search > #ind-select > .vscomp-wrapper {
    position: relative;
    display: block;
    bottom: 0;
    width: 100%;
    max-width: 100%;
}

#industry_search > div > div > .vscomp-toggle-button {
    display: block;
    min-height: 33px;
    height: 33px;
    transition: 0.3s ease-in-out;
}

#industry_search > div > div.focused > .vscomp-toggle-button {
    display: block;
    min-height: 33px;
    height: auto;
}

.search-button-wrapper {
    height: max-content;
    min-height: 50px;
    margin-top: 10px;
    display: flex;
}

.search-button-wrapper button,
.search-button-wrapper a {
    margin: auto;
    margin-top: 10px;
    padding: 10px 20px;
    min-width: max-content;
}
.search-button-wrapper button {
    min-width: 70%;
}

.search-button-wrapper a {
    min-width: 25%;
    padding: 10px 20px!important;
    height: max-content;
}

h3.results-count {
    height: max-content;
    width: max-content;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}

.results-count::after {
    content: "";
    position: absolute;
    border-bottom: 5px solid var(--primary-color);
    width: 100%;
    z-index: -1;
    bottom: -10px;
    right: 0;
}

.no-results {
    width: 100%;
    max-width: 100%;
}

.no-results > div > div > i {
    font-size: 100px;
    text-align: center;
    width: 100%;
    padding: 20px;
    color: var(--light-grey);
}


/* Event Limit Reached Modal */
#limit_reached > div > div {
    border-radius: 20px;
}

.card.event-limit h3 {
    width: max-content;
    margin: auto;
    margin-bottom: 20px;
}

p.event-limit {
    font-size: 100px;
    text-align: center;
    font-weight: 600;
    display: flex;
    margin: auto;
}

p.event-limit span {
    font-size: 50px;
    margin: auto;
    padding: 0px 25px;
    margin-bottom: 35px;
    color: var(--accent-color);
}