/* UPDATE PACKAGE CARDS */

.update-package-card.active, .update-package-card.selected {
    background: var(--action-btn-grad);
    color: #fff;
}

.update-package-card {
    padding: 30px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s ease-in-out;
    position: relative;
}

.update-package-card.active span {
    opacity: 1;
}

.update-package-card span {
    position: absolute;
    opacity: 0;
    width: 100%;
    left: 0;
    justify-content: center;
    bottom: 20px;
    transition: 0.3s ease-in-out;
}

.update-package-card:hover span {
    opacity: 1;
}

.update-package-card:hover h3 {
    transform: translateY(-10px);
}

.update-package-card.active h3 {
    transform: translateY(-10px);
}

.update-package-card.active:hover {
    transform: translateY(0px);
}

.update-package-card h3 {
    font-size: 1.4rem;
    font-weight: 300;
    margin: auto;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

.update-package-card-overlay {
    background: #fff;
    opacity: 0;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
}

.current_package_label {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
    z-index: 1;
}


/* PAYMENT FORM */
.order-confirmation {
    position: relative;
}

.processing-spinner  {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    background: #f0f0f07a;
    top: 0;
    left: 0;
    border-radius: 20px;
    z-index: 99;
}

.processing-spinner > .spinner {
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius: 50px;
    border: 10px solid var(--primary-color);
    border-right: 10px solid var(--accent-color);
    animation: spinner 1.0s infinite linear;
}

.card-section-header {
    position: relative;
    width: max-content;
    max-width: 100%;
    z-index: 1;
    font-size: 1.5rem;
}

.card-section-header::after {
    content: "";
    position: absolute;
    border-bottom: 5px solid var(--primary-color);
    width: 100%;
    bottom: -25%;
    right: 0;
    z-index: -1;
}

#card_errors {
    color: var(--error);
    margin-left: 10px;
}

.order-details-summary{
    margin-top: 40px;
    padding: 20px;
    background: var(--bg-grad-grey);
}

.order-details-summary p{
    font-size: 20px;
    font-weight: 400;
}

ul.order-details-features {
    font-size: 14px;    
    font-weight: 200;    
    padding: 0;
    color: var(--light-text);
    margin-top: 10px;
}

ul.order-details-features li {
    display: flex;
    margin-bottom: 10px;
}

ul.order-details-features li i {
    padding-right: 5px;
    margin-top: 3px;
    color: var(--primary-color);
}

.total-due p {
    font-size: 20px;
    font-weight: 400;
}

#payment_disclaimer {
    font-size: 12px;
    margin: 0px 10px;
}

/* ANIMATIONS */

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}